@charset "utf-8";
*:focus{outline:none;}
html,body{width:100%;height:100%;}
html,body,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input{padding:0; margin: 0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,em,strong,table,th,td{font-size:100%;font-style: normal;font-weight: normal;}
strong {font-weight: bold;}
i{font-style:italic;}
ul,ol,li {list-style: none;}
fieldset,img {border: none;display:block;}
table{border-collapse: collapse; border-spacing:0;table-layout: fixed;}
body{background:#fff;color:#333;font:14px/1.5 "Microsoft YaHei","lucida Grande",Verdana;overflow-x: hidden; min-width:1300px; margin:0 auto;}
input,select,textarea{font-family: "Microsoft YaHei","lucida Grande",Verdana;}
input,select {vertical-align: middle;}
textarea{vertical-align: top;}
a{text-decoration:none;outline:none;color:#666;}
a:hover{text-decoration:none;}
a:active{star:expression(this.onFocus=this.blur());}
article, aside, dialog, footer, header, section, nav, figure, menu{display:block;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.fl{float:left;}
.fr{float:right;}
.pr{position:relative;}
.pa{position:absolute;}
.clearfix:after{content:"\020";display: block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1;}
.blue{color:#325ca9;}
.color1{
	color:#ff5000 !important;
}
.c333{
	color:#333;
}
.c666{
	color:#666 !important;
}
.c999{
	color:#999;
}
.p_w{margin: 0 auto;width:1200px;}
.f12{
	font-size:12px;
}
.f16{
	font-size:16px;
}
.mt30{
	margin-top:30px;
}
.pl40{
	padding-left:40px;
}

.top{
	border-bottom:1px solid #e5e5e5;
	height:35px;
	line-height:35px;
	font-size:12px;
}
/**/
.container-fluid{}
.container_text{
	display:inline-block;
	vertical-align:top;
}
.navbar-menu{ display:inline-block; vertical-align:top;}
.navbar-menu > ul > li{display:block;float:left;position:relative; margin-right:12px;}
.navbar-menu > ul > li:last-child{margin-right:0;}
.navbar-menu > ul > li > a{display: inline-block;vertical-align: middle;position: relative;color: #333;line-height: 35px; margin-top:-1px;}
.img-circle{border-radius: 50%;width: 22px;margin-right: 2px;}
.dropdown-menu{display:none;}
.badge{display: inline-block;min-width: 10px;padding: 3px 5px;font-size: 12px;font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: middle;background-color:#F9354C;border-radius: 10px;}
.navbar-menu .badge{position: absolute;top: 22px;right: 16px;}
.navbar-menu li i{display:inline-block;width:12px;height:22px;vertical-align:middle;background:url(../images/190910_icon01.png) no-repeat 100% 50%;}
.navbar-menu li .lnr-alarm{}
.navbar-menu li .lnr-question{background-position:0 -27px;}
.navbar-menu li .lnr-chevron-down{}
.navbar-menu li span{vertical-align:middle;display:inline-block;}
.navbar-menu .dropdown-menu{border: 1px solid #ebebeb;border-top: 2px solid #ACB0B5;-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);position: absolute;top: 100%;background-color: #fff;right:0;min-width:200px;
	z-index:3;
}
.navbar-menu .dropdown-menu li{border-bottom: 1px solid #F0F0F0;}
.dropdown-menu>li>a{display: block;padding: 10px 20px;font-weight: 400;line-height: 1.42857143;color: #333;white-space: nowrap;}
.dropdown-menu>li>.more{text-align:center;}
.navbar-slider{float:right;}
.navbar-slider > ul > li{margin-right:0; }
.navbar-slider > ul > li > a{padding:0 7px;}

.footer{border-top:1px solid #ddd;padding:25px 0;line-height:24px;color:#666;}
.footer_nav{margin-bottom:16px;}
.footer_nav .fl a{margin-right:44px;color:#666;}
.footer p img{vertical-align:middle;margin:0 5px 0 10px;display: inline-block;}
/*按钮*/
.btn_sub{
	width:120px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	background:url(../images/190910_btnbg1.png) no-repeat;
	display:inline-block;
}
.btn100{
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	background:url(../images/190910_btnbg5.png) no-repeat;
	display:inline-block;
}
.btn_edit{
	width:80px;
	line-height:26px;
	border:1px solid #999;
	text-align:center;
	color:#666;
	display:block;
	right:80px;
	top:90px;
	position:absolute;
	border-radius:14px;
}
.btn_complete{
	width:80px;
	line-height:26px;
	border:1px solid #ff8900;
	text-align:center;
	color:#FF5000;
	display:block;
	right:80px;
	top:90px;
	position:absolute;
	border-radius:14px;
}
/*分页*/
.pages{text-align:center;}
.spage-total{display: inline-block;margin-right: 20px;line-height: 30px;color: #666;font-size: 14px;vertical-align:middle;}
.spage-number{display: inline-block;color: #666;font-size: 14px;vertical-align:middle;}
.spage-number span{position: relative;box-sizing: border-box;display: inline-block;line-height: 30px;border: 1px solid #ddd;text-align: center;transition: all .2s;cursor: pointer;margin:0 3px;width:30px;height:30px;}
.spage-number span.active{background: #ff5000;color: #fff;border-color: #ff5000;z-index: 3;}
.spage-number .prev,.spage-number .next{width:62px;}
.spage-skip{display: inline-block;margin-left: 20px;line-height: 30px;color: #666;font-size: 14px;vertical-align:middle;}
.spage-skip input{box-sizing: border-box;display: inline-block;width: 45px;height: 30px;line-height: 30px;text-align: center;vertical-align: top;border: 1px solid #ddd;outline: 0;transition: all .2s;}
.spage-skip span{display: inline-block;padding: 0 14px;line-height: 28px;vertical-align: top;color: #666;outline: 0;border: 1px solid #ddd;cursor: pointer;transition: all .2s;}

.tips{padding-left:20px; display:inline-block;vertical-align: middle;height:20px;line-height:20px; font-size:12px;}
.tips .erro{color:#e64141;}
.tips .succ{color:#8cd232;}
.icon_succ,.icon_del {
	background: url(../images/reg_ico.png) no-repeat -60px 0;
	width: 15px;
	height: 15px;
	display:inline-block;
	vertical-align:middle;
	margin-right:3px;
}

.file_box{position:relative;width:180px} 
.file_box .file_txt{height:26px; border:1px solid #cdcdcd; width:180px;} 
.file_box .file_btn{background-color:#FFF; border:1px solid #CDCDCD;height:28px; width:70px;} 
.file_box .file_input{ position:absolute; top:0; right:0px; height:180px; filter:alpha(opacity:0);opacity: 0;width:180px }

